h3{
    margin: 195px 45px;
    font-size: 35px;
    color: #202020;
    position: fixed;
    z-index: -1;
}
.itemLabels{
    position: fixed;
    margin: 250px 110px;
    z-index: -1;
}
.itemLabels label{
    font-size: 18px;
    color: #202020;
    font-weight: bold;
    padding-right: 115px;
}
.line1{
    height: 1px;
    width: 800px;
    background-color: #202020;
    margin: 275px 70px;
    position: fixed;
    z-index: -1;
}
/*
.sample{
    border: 1px solid #202020;
    width: 800px;
    height: 1100px;
    margin: 300px 70px;
    position: absolute;
}
*/

.discount {
    display: flex;
    flex-direction: column;
    margin: 250px 970px;
    position: fixed;
    z-index: -1;
}
.discount input{
    width: 250px;
    height: 20px;
    border: 1px solid grey;
    color: #202020;
    padding-left: 3px;
    font-size: 16px;
}
.discount label{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #202020;
}
.discount button.applyBtn{
    height: 35px;
    width: 120px;
    font-size: 15px;
    border: none;
    color: white;
    background-color: #19394A;
    border-radius: 10px;
    position: relative;
    margin: 10px 70px;
    cursor: pointer;
}

.price{
    display: flex;
    flex-direction: column;
    margin: 480px 970px;
    position: fixed;
    z-index: -1;
}
.price label{
    font-size: 20px;
    font-weight: bold;
    color: #202020;
    padding-bottom: 10px;
}
.price button.checkoutBtn{
    height: 35px;
    width: 120px;
    font-size: 19px;
    border: none;
    color: white;
    background-color: #19394A;
    border-radius: 10px;
    position: relative;
    margin: 10px 70px;
    cursor: pointer;
}