.header{
  position: fixed;
}
.banner {
    height: 50px;
    width: 1367px;
    
    background-color: #19394A;
    position: fixed;
  }

  h1 {
    font-size: 35px;
    position: fixed;
    font-family:'Times New Roman', Times, serif;
    color: #202020;
    margin: 75px 15px;
  }

  .search input {
    border: 1px outset black;
    width: 650px;
    height: 30px;
    position: fixed;
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
    padding-inline-start: 5px;
    margin: 80px 320px;
  
  }
  ::placeholder{
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
  }

  .searchButton button{
    background-color: transparent;
    border: 1px outset black;
    width: 40px;
    height: 34px;
    position: fixed;
    margin: 80px 977px;
    cursor:pointer;
  }

  .shopingCart button{
    background-color: transparent;
    border: none;
    width: 40px;
    height: 30px;
    position: fixed;
    margin: 100px 1050px;
    cursor:pointer;
  }

  
  .dropdown {
    position: absolute;
    display: inline-block;
    padding: 2px;
    height: 30px;
    width: 125px;
    margin: 50px 1066px;
  }

  .accountIcon{
      position: fixed;
      margin: 56px 1048px;
  }
  .expandIcon{
    position: fixed;
    margin: 56px 1178px;
  }

  .dropbtn {
    background-color: transparent;
    font-family:'Times New Roman', Times, serif;
    color: #202020;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }


  .dropdown-content {
    border: 1px solid black;
    display: none;
    position: absolute;
    background-color:  white;
    margin-left: -19px;
    min-width: 150px;
    min-height: 100px;
    z-index: 1;
  }
  
  .signIn button.signInBtn {
      height: 40px;
      width: 120px;
      font-size: 22px;
      border: none;
      color: white;
      background-color: #19394A;
      font-family:'Times New Roman', Times, serif;
      border-radius: 10px;
      position: relative;
      margin-left: 15px;
      margin-top: 15px;
      cursor: pointer;
  }

  .createAccount button.createAccountBtn {
    border: none;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    color: #202020;
    background-color: transparent;
    position: relative;
    margin-left: 25px;
    margin-top: 15px;
    text-decoration: underline;
    cursor: pointer;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: transparent;
  }

  hr {
    width: 1367px;
    height: 1px;
    border:  none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 180px;
    margin-bottom:100px;
    position: fixed;
    background-color: grey;
    z-index: -1;
 }




 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  display: flex;
  flex-direction:column;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  width: 20px;
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}